<nav class="navbar navbar-expand" style="font-size: 25px !important">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img class="w-24 rounded-full ring ring-accent ring-offset-base-100 ring-offset-4"
        src="/assets/selfHFcircle600w.png" alt="" style="width: 90px"></a>
    <ul class="navbar-nav me-auto">
      <li calss="nav-item">
        <a routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</a>
      </li>
      <li calss="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      </li>
      <li calss="nav-item">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>