<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img id="headshot" src="/assets/selfHFcircle600w.png" alt="Chris Headshot"></a>
    <ul class="navbar-nav me-auto">
      <li calss="nav-item">
        <a routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</a>
      </li>
      <li calss="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      </li>
      <li calss="nav-item">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>