<div *ngFor="let item of pagedPosts$ | async">
  <article *ngIf="item['datePublished']">
    <h3><a [routerLink]="item.route">{{item.title}}</a></h3>
    <p>{{item["datePublished"]}}</p>
    <p>{{item["description"]}}</p>
  </article>
</div>

<ng-container *ngIf="(totalPages$ | async) as total">
  <ng-container *ngIf="(currentPage$ | async) as current">
    <nav aria-label="Blog pagination" class="pagination">
      <button class="nav-btn" (click)="setPage(current - 1, total)" [disabled]="current <= 1">
        Prev
      </button>

      <ng-container *ngFor="let p of pagesArray(total); let last = last">
        <button class="page-btn" (click)="setPage(p, total)" [disabled]="p === current">{{ p }}</button>
        <span class="sep" *ngIf="!last">|</span>
      </ng-container>

      <button class="nav-btn" (click)="setPage(current + 1, total)" [disabled]="current >= total">
        Next
      </button>
    </nav>
  </ng-container>
  
</ng-container>
