@import "tailwindcss" source("./");
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dark --default --prefersdark, light;
}

@utility container {
  padding-inline: 2rem;
}

html[data-theme="light"] .prose {
  color: black;
}
